*,
*::after,
*::before {
   box-sizing: border-box;
}
.page-body {
    font-family: sans-serif;
    margin: 0;
    background: #E5E5E5;
}
.container {
    width: 1095px;    
    margin-left: auto;
    margin-right: auto;
}
.page-header {
    margin-top: 35px;
    margin-bottom: 96px;
}
.header-list {    
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;      
}
.tel-item {    
    margin-right: 29px;
    margin-left: 469px;
    width: 163px;    
}
.tel-item-link {    
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;    
    text-decoration: none;
    color: #FFFFFF;
}
.accent-color {
    color: #D6AF76;
}
.call-item {    
    width: 218px;    
    border: 1px solid #E4B564;
}
.img-call {    
    margin: 19px 10px 19px 26px;
}
.header-call-link {    
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;    
    line-height: 30px;    
    color: #E4B564;
    width: 144px;
    margin-top: 10px;
    margin-right: 25px;   
}
.img-call {
    margin-top: 19px;
    margin-left: 26px;    
}
.container-network {
    max-width: 1095px;
    background-image: url(../images/header-bg.jpeg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
.title-network {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 31px;
}
.network-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 31px;
}
.network-list {
    display: grid;    
    grid-template-rows: 351px 351px;
    grid-template-columns: 350px 350px 350px; 
    align-content: space-between;   
    gap: 23px;
    width: 100%;    
    text-align: center;
    padding: 0;
    margin: 0;
}
.network-item-first {
    list-style: none;    
    background: #634F2C;
    padding-top: 165px; 
}

.network-item-second {
    background: #B4A385;
    padding-top: 155px;
    list-style: none;
}
.network-item-third {
    list-style: none;
    background: #E4B564;
    padding-top: 165px;
}
.network-item-fourth {
    background: #635A4A;
    padding-top: 165px;
    list-style: none;
}
.network-item-fifth {
    list-style: none;
    background: #B08C4D;
    padding-top: 165px;
}

.network-item-link {       
    text-decoration: none;    
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;   
    color: #FFFFFF;    
}
.title-technique {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 70px;
    margin-top: 121px;
}
.technique-list {
    display: flex;    
    flex-wrap: wrap;    
    justify-content: space-between;
    padding: 0;
    margin-bottom: 143px;
    margin-top: 0;
}
.technique-item {
    list-style: none;    
    margin-bottom: 20px;
    width: 350px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding-top: 33px;
    padding-left: 37px;
    color: #FFFFFF;
}
.technique-item-link {    
    text-decoration: none;    
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;    
}
.container-projects {
    width: 1095px;
    background-image: url(../images/parallax-bg.jpeg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
.header-projects {
    margin-top: 129px;
    margin-bottom: 54px;
}
.projects-nav {
    display: flex;
    justify-content: space-between;    
}
.title-projects {    
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;    
}
.btn {    
    border: 1px solid #E4B564;    
    padding: 10px 39px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    cursor: pointer;
}
.projects-list {
    display: grid;
    grid-template-rows: repeat(2, 293px);
    grid-template-columns: repeat(3, 365px) ;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 179px;
}
.projects-item {
list-style: none;
}
.projects-item-link {
    text-decoration: none;
}
.item1 {
    background: #634F2C;
    padding-top: 100px;
    padding-left: 90px;
}
.item2 {
    background: rgba(232, 210, 171, 0.76);
    padding-top: 40px;
    padding-left: 110px;
}
.item3 {
    background: #E4B564;
    padding-top: 110px;
    padding-left: 90px;
}
.item4 {
    background: #635A4A;
    padding-top: 110px;
    padding-left: 100px;
}
.item5 {
    background: #B08C4D;
    padding-top: 110px;
    padding-left: 110px;
}
.item6 {
    background: #634F2C;
    padding-top: 110px;
    padding-left: 90px;
}
.img {
    justify-content: center;   
}


